body {
    margin: auto;
    max-width: 45em;
    font-family: 'Helvetica', 'Arial', sans-serif;
    background: black;
    animation-name: color;
    animation-duration: 1s;
}

    @keyframes color {
    from {background-color: black;}
    to {background-color: #eaaee8;}

}

.header {
    background: orchid;
    font-weight: bold;
    padding: 0.3em 2em;
    font-size: 1.5em;
    border-radius: .6em
}

.content {
    background: #e59ae2;
    padding: 1.5em 2em;
    border-radius: .6em
   
}

nav li {
    display: inline-block;
    padding: .5em;
    background: #eaaee8;
    border-radius: .5em;
    margin: .2em;

}

nav li a {
    text-decoration: none;
    color: #000;
    
}

nav li:hover {
    background-color: rgb(226, 226, 226);
}

nav ul {
    margin: .2em;
}
