body {
    margin: auto;
    max-width: 60em;
    font-family: 'Helvetica', 'Arial', sans-serif;
    background: black;
    animation-name: color;
    animation-duration: 8s;
    animation-delay: 4s;
    animation-timing-function: ease-in-out;
}

    @keyframes color {
    from {background-color: black;}
    to {background-color: #eaaee8;}

}

.header {
    background: orchid;
    font-weight: bold;
    padding: 0.3em 0.5em;
    font-size: 1.2em;
    border-radius: .1em
}

.content {
    background: #e59ae2;
    padding: 1.5em 2em;
    padding-bottom: 10em;
    border-radius: .1em
   
}

nav li {
    display: inline-block;
    list-style-type: none;
    margin: .2em;

}

nav li a {
    text-decoration: none;
    color: #000;
    
}

nav li:hover {
    text-decoration: underline;

}

nav ul {
    margin: .2em;
}

