{% extends "layout.html" %}
{% block title %}Etusivu{% endblock %}
{% block content %}

{% if session.user_id %}
<h3>Tervetuloa {{ session.user_username }}!</h3>
</ul>
{% if session.user_usertype == 2 %}
<p>Olet kirjautunut opettajana ja voit luoda täällä omia verkkokursseja tai kokeilla olemassa olevia kursseja.</p>
<ul>
    <li> <a href="/material">Luo verkkokurssi</a> </li>
</ul>
{% endif %}
<br>
<br>
Osallistu kurssille:
<br>
<ul>
    {% for course in courses %}
    <li><a href = "/result2/{{ course.id }}">{{ course.name }}</a></li>
    {% endfor %}
</ul>
<br>
{% if session.user_usertype == 2 %}


<form action="/remove" method="post">

<p>Minkä kurssin haluat poistaa?</p>

{% for course in courses %}

<input type="radio" name="course" value="{{ course.id }}"> {{ course.name }} <br>

{% endfor %}

<p>

<input type="submit" value="Poista">

<input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">

</form>
{% endif %}
{% else %}


<b>Tee oma verkkokurssi tai osallistu kurssille.<b>
<br>
<br>
<br>
<img src="/static/DSCN1748.jpeg" alt = "kukkia" height="345" width="460"\>
{% endif %}
{% endblock %}



