<title>Opetussovellus</title>
<h1>Opetussovellus</h1>
{% if session.user_id %}
<h3>Tervetuloa {{ session.user_username }}!</h3>
</ul>
{% if session.user_usertype == 2 %}
<p>Olet kirjautunut opettajana ja voit luoda täällä omia verkkokursseja tai kokeilla olemassa olevia kursseja.</p>
<ul>
    <li> <a href="/material">Luo verkkokurssi</a> </li>
</ul>
{% endif %}
<br>
<br>
Osallistu kurssille:
<br>
<ul>
    {% for course in courses %}
    <li><a href = "/result2/{{ course.id }}">{{ course.name }}</a></li>
    {% endfor %}
</ul>
<br>
 <a href="/logout">Kirjaudu ulos</a>
{% else %}
<a href="/login">Kirjaudu sisään</a>
{% endif %}



