<title>Opetussovellus</title>
<h1>Opetussovellus</h1>
<br>
<b>Tervetuloa luomaan oma verkkokurssi!</br>
<br>
{% if session.user_id %}
<p>Olet kirjautunut nimellä {{ session.username }}</p>
<br>
<a href="/material">Luo verkkokurssi</a> 
<br>
<br>
Osallistu kurssille:
<br>
<ul>
    {% for course in courses %}
    <li><a href = "/result2/{{ course.id }}">{{ course.name }}</a></li>
    {% endfor %}
</ul>
<br>
 <a href="/logout">Kirjaudu ulos</a>
{% else %}
<a href="/login">Kirjaudu sisään</a>
{% endif %}
<br>
<br>
<br>
<img src="/static/DSCN1748.jpeg" alt = "kukkia" height="240" width="320"\>


