<!DOCTYPE html>
{% extends "layout.html" %}
{% block title %}Materiaali{% endblock %}
{% block content %}
<form action="/create_material" method="POST">
<br>
Anna kurssille nimi: <br>
<input type="text" name="name">
<br>
<br>
Tähän voit lisätä opiskelumateriaalia: <br>
<textarea name="material" rows="12" cols="80"></textarea>
<p>
<input type="submit" value="Valmis">
<input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
</form>
<br>
<hr>
<button onclick="history.back()">Takaisin</button>
{% endblock %}
