<!DOCTYPE html>
{% extends "layout.html" %}
{% block title %}Etusivu{% endblock %}
{% block content %}
<form action="/create" method="POST">
<br>
<p>Kurssin nimi:<br>
<input type="text" name="name"></p>
<p>Kysymys:<br>
<input type="text" name="topic"></p>
<p>Kirjoita oikea vastaus tähän:<br>
<input type="text" name="answer"></p>
<p>Vastausvaihtoehto 1:<br>
<input type="text" name="choice"></p>
<p>Vastausvaihtoehto 2:<br>
<input type="text" name="choice"></p>
<p>Vastausvaihtoehto 3:<br>
<input type="text" name="choice"></p>
<p>Vastausvaihtoehto 4:<br>
<input type="text" name="choice"></p>
<input type="submit" value="Luo kysymys">
<input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
</form>
<br>
<hr>
<button onclick="history.back()">Takaisin</button>
{% endblock %}
