
<form action="/create" method="POST">
Lisää tekstimateriaali tähän: <br>
<textarea name="content" rows="3" cols="40"></textarea>
<br>
<p>Kysymys:<br>
<input type="text" name="topic"></p>
<p>Vastausvaihtoehto 1:<br>
<input type="text" name="choice"></p>
<p>Vastausvaihtoehto 2:<br>
<input type="text" name="choice"></p>
<p>Vastausvaihtoehto 3:<br>
<input type="text" name="choice"></p>
<p>Vastausvaihtoehto 4:<br>
<input type="text" name="choice"></p>
<input type="submit" value="Luo kysymys">
</form>
