<!DOCTYPE html>
{% extends "layout.html" %}
{% block title %}Kysymykset{% endblock %}
{% block content %}
<p>
<b>Kysymykset</b>
<ul>
    {% for poll in topic %}
    <li><a "/polls/{{ poll.id }}">{{ poll.topic }}</a></li>
    <a href="/poll/{{ poll.id }}">Vastaa kysymykseen</a> |
    <a href="/result/{{ poll.id }}">Näytä vastaukset</a> <br>
    <br>
    {% endfor %}
</ul>
<p>
<hr>
<p>
{% if session.user_usertype == 2 %}
<a href="/new">Tee uusi kysymys</a>
{% endif %}
<br>
<br>
<button onclick="history.back()">Takaisin</button>
{% endblock %}


