<!DOCTYPE html>
{% extends "layout.html" %}
{% block title %}Kysymykset{% endblock %}
{% block content %}
<p>
<b>Valitse kysymys</b>
<ul>
    {% for poll in polls %}
    <li><a href = "/polls/{{ poll.id }}">{{ poll.topic }}</a></li>
    {% endfor %}
</ul>

Kysymys: {{ topic }} <br>
<a href="/poll/{{ id }}">Vastaa kysymykseen</a> |
<a href="/result/{{ id }}">Näytä vastaukset</a> <br>
<p>
<hr>
<p>
{% if session.user_usertype == 2 %}
<a href="/new">Tee uusi kysymys</a>
{% endif %}
{% endblock %}


