<!DOCTYPE html>
{% extends "layout.html" %}
{% block title %}Tilastot{% endblock %}
{% block content %}
<title>Tilastot</title>

Tämä on oikea vastaus: {{answer}}
<br>
Sinun vastaus: 
<!--{% if choice.user_id == session.user_id %}
    {{ choice.choice }}
{% endif %}-->
{{ choice }}

<br>
{% set answer_count = {"count":0} %}
{% for user in points %}
    {% if user.user_id == session.user_id  %}
       {% if answer_count.update({"count":answer_count.count + 1}) %}
       {% endif %}
    {% endif %}
{% endfor %}
Olet vastannut {{ answer_count.count }} kertaa oikein!
<br>
{% if session.user_usertype == 2 %}
Opiskelijat:
<ul>
    {% for student in students %}
    <li><a>{{ student.username }}</a></li>
    {% endfor %}
</ul>
{% endif %}
<hr>
<button onclick="history.back()">Takaisin</button>
{% endblock %}
